# --- Interface e Dados ---
streamlit==1.57.0
pandas
plotly
streamlit-keyup

# --- Integração e Nuvem ---
supabase
requests
httpx

# --- Inteligência Artificial ---
google-generativeai

# --- Geração de Documentos (Excel, Word, PDF) ---
xlsxwriter
python-docx==0.8.11
lxml==4.9.4
xhtml2pdf
reportlab
fpdf2

# --- Manipulação de Imagens e Suporte ---
Pillow
python-bidi

# Dependências adicionadas para Reconhecimento Facial (DeepFace)
deepface==0.0.92
tf-keras==2.16.0
tensorflow-cpu==2.16.1
opencv-python-headless==4.9.0.80